<div id="chat-continer">
    <div id="chatConnectionInfo">
    </div>
</div>


<form id="chat-form" autocomplete="off">
    <input id="name-input" type="text" placeholder="Enter your name" />
    <input id="post-content" type="text" placeholder="your message" />
    <button type="submit">Send</button>
</form>

<div id="chat-box">

</div>