<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/mainStyle.css" />
</head>
<body>
    <nav>
        <a asp-action="Index">Home</a>
        <a asp-action="AddBand">Add Band</a>
    </nav>
    <div id="main-content">
        @RenderBody()
    </div>
    <div>
        @{
            await Html.RenderPartialAsync("_Forum");
        }
    </div>
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>