@model Band
@{
    var album = (Albums)ViewData["albums"];
}

<div>
    <div id="detail-band">
        <h1>@Model.Name</h1>
    </div>
    <div id="detail-description">
        <h3>Description</h3>
        <p> @Model.Description </p>
    </div>

    @if (Model.Albums == null)
    {
        <p>No Albums</p>
    }
    else
    {
        <div id="detail-album">
            <h3>Albums</h3>
            @foreach (var item in Model.Albums.OrderByDescending(p => p.Year))
            {
                <div class="album-content">
                    <p>@item.Title.</p>
                    <p>@item.Year.</p>
                </div>

            }
        </div>

    }
</div>
<div>
    <img id="band-img" src="~/images/korv.jpg" alt="KORV" />
</div>



