@model Band

<div id="edit-container">
    

    <form asp-action="Edit" method="post" id="edit-form">
        <div id="band-edit-container">
            <label>Band Name</label>
            <input asp-for="Name" value="@Model.Name" />
            <label>Band Description</label>
            <input asp-for="Description" value="@Model.Description" />
            <input asp-for="Id" value="@Model.Id" type="hidden" />
        </div>
      
        @{
            await Html.RenderPartialAsync("EditAlbums", Model.Albums);
        }


        <input type="submit" value="Save Changes" id="saveChanges" />

    </form>

    <div id="edit-add-album-container">
        <form asp-action="AddAlbum" method="post" autocomplete="off">
            <input name="Title" type="text" placeholder="album title" />
            <input name="Year" type="text" placeholder="album year" />
            <input type="hidden" value="@Model.Id" name="BandId" />
           <button>Create</button>
        </form>
    </div>

</div>


  
